<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="XYZ Bank Portal Test Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="listeners.CustomListeners" />
	</listeners>
	
	<test name="Bank Manager Login Test">
		<classes>
			<class name="testcases.BankManagerLoginTest" />
		</classes>
	</test>
	<test name="Add New Customer Test">
		<classes>
			<class name="testcases.addNewCustomerTest" />
		</classes>

	</test>
	<test name="Open Account Test">
		<classes>
			<class name="testcases.openAccountTest" />
		</classes>
	</test>
	<test name="Validate Customer Entry Test">
		<classes>
			<class name="testcases.ValidateCustomerEntryTest" />
		</classes>
	</test>
	<test name="Customer Login Test">
		<classes>
			<class name="testcases.customerLoginTest" />
		</classes>
	</test>
	<test name="Deposit Login Test">
		<classes>
			<class name="testcases.CustomerDepositTest" />
		</classes>
	</test>
	<test name="Withdrawl Test"><classes>
		<class name="testcases.CustomerWithdrawlTest"></class>
	</classes></test>
	<test name="Logout Test"><classes>
		<class name="testcases.LogoutTest"></class>		
	</classes></test>
	
	<test name="No Account Test"><classes>
		<class name="testcases.AccountExistTest"></class>		
	</classes></test>
</suite> <!--
Suite -->
